<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Feedback - OWASP Lab</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="top-left-container">
  	<a href="{{ url_for('login') }}">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="QState Logo" class="logo"></a>
        <div class="green-line"></div>
    </div>
<link rel="stylesheet" href="/static/style.css"><h2>Welcome, {{ username }}</h2><a href="/logout">Logout</a>
  {% if flag %}
  <p><strong>🏁 Flag:</strong> {{ flag }}</p>
{% endif %}
</body>
 <footer>
        <div class="green-line"></div>
        Powered by <strong>QState Cyber Security</strong>
</footer>     
</html>