<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <div class="top-left-container">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="QState Logo" class="logo">
        <div class="green-line"></div>
    </div>
    <title>Login - OWASP Lab</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h2>Login</h2>
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    <form method="post">
        <label>Username:</label><br>
        <input type="text" name="username"><br>
        <label>Password:</label><br>
        <input type="password" name="password"><br>
        <input type="submit" value="Login">
    </form>
    </body>
 <footer>
        <div class="green-line"></div>
        Powered by <strong>QState Cyber Security</strong>
</footer>     
</body>
</html>
