<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OWASP Lab - QState</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="top-left-container">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="QState Logo" class="logo">
        <div class="green-line"></div>
    </div>

    <div class="center-content">
        <h1>Welcome to OWASP Lab</h1>
        <h3> By QState Cyber Security</h3><br>
        <p class="subtitle">Defence Beyond Binary</p>

        <a href="/login">→ Start the Lab (Login)</a>
        <a href="/admin">→ Try Admin Access</a>
    </div>

    <footer>
        <div class="green-line"></div>
        Powered by <strong>QState Cyber Security</strong>
    </footer>
</body>
</html>
